@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap'); /* Prata: heading */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600&display=swap'); /* Inter: body */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: black;
}

nav {
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: black;

    padding-top: 20px;
    padding-bottom: 15px;
    width: 100%;
    column-gap: 30px;
}

.author-name {
    margin-left: 200px;
    color: rgba(255, 255, 255, 0.852);
    font-family: 'Prata', serif;
    font-size: 16px;
    flex-shrink: 0;
}

.links-btn {
    font-size: 14px;
    font-family: Inter;
    color: rgba(255, 255, 255, 0.852);
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.get-in-touch-btn {
    margin-right: 200px;
    color: black;
    background-color: rgb(211, 211, 72);
    border: none;
    font-family: Prata;
    padding: 10px 25px 10px 25px;
    font-size: 14px;
    flex-shrink: 0;
}

.section-one {
    width: 100%;
    background-color: black;
    padding-bottom: 40px;
}

main {
    margin-right: 200px;
    margin-left: 200px;
}

.header-container {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    width: 650px;
}

.header-container h1 {
    font-size: 50px;
    font-family: Prata;
    font-weight: lighter;
}

.header-container p {
    width: 600px;
    font-size: 16px;
    word-spacing: 2px;
    line-height: 25px;
    font-family: Inter;
    font-weight: lighter;
    flex-shrink: 0;
}

.images-row-container {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 100px;
}

.images-row-container img {
    width: 100%;
    height: 22px;
}

.preview-container {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
}

.spense-preview h1,
.yelpcamp-preview h1 {
    font-size: 40px;
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 10px;
}

.spense-preview img,
.yelpcamp-preview img {
    width: 100%;
    height: 65%;
}

.spense-preview p,
.yelpcamp-preview p {
    line-height: 25px;
    font-family: Inter;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.852);
    font-size: 14px;
}

.section-two {
    width: 100%;
    background-color: #424753;
    padding-bottom: 40px;
}

.new-section-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 200px;
    margin-left: 200px;
    column-gap: 100px;
}

.content-column-1,
.content-column-2 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 45px;
}

.content-column-1 h1 {
    font-weight: lighter;
    margin-bottom: 10px;
}

.content-column-1 p,
.content-column-2 p {
    font-family: Inter;
    font-size: 14px;
    font-weight: lighter;
    line-height: 25px;
    margin-bottom: 20px;
}

.section-three {
    background-color: black;
    height: 250px;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 45px;
}

.section-three-elmts-div {
    display: flex;
    flex-direction: column;
    float: left;
    width: 500px;
}

.section-three-elmts-div h1 {
    font-weight: lighter;
    margin-bottom: 10px;
}

.section-three-elmts-div p {
    font-family: Inter;
    font-size: 14px;
    line-height: 25px;
    font-weight: lighter;
    margin-bottom: 20px;
}

.section-three-elmts-div .get-in-touch-btn {
    width: 150px;
}


@media (max-width: 1350px) {
    .images-row-container {
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: flex-start;
        row-gap: 20px;
        column-gap: 50px;
    }

    .preview-container {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 1015px) {

    .author-name {
        margin-left: 50px;
    }

    .get-in-touch-btn {
        margin-right: 50px;
    }

    main {
        margin-right: 50px;
        margin-left: 50px;
    }

    .new-section-div {
        grid-template-columns: 1fr;
        margin-right: 50px;
        margin-left: 50px;
    }

    .section-three {
        margin-right: 50px;
        margin-left: 50px;
    }
}

